{% extends "AppCoder/padre.html" %}
{% load static %}

{% block titulo %}



<h1>Sobre mí</h1>
{% endblock%}


{% block contenidoQueCambia %}
<div class="row">
    <div class="col-lg-4 ms-auto"><p class="lead">Me llamo Danko, soy un estudiante de ingeniería electrónica que está incursionando en el mundo de la programación, anteriormente tuve mis primeras experiencias programando en algunas materias de mi carrera universitaria, donde aprendí lenguajes como C++ y algunos propios de softwares matemáticos.</p></div>
    <div class="col-lg-4 me-auto"><p class="lead">Esas primeras incursiones en este mundo despertaron mi interés por la programación, lo que me llevo a buscar formas de aprender nuevos lenguajes y querer desarrollarme profesionalmente en este ámbito.</p></div>
</div>
{% endblock %}
